@model PaginatedList<SalesViewModel>
@{
  ViewData["Title"] = "Sales";
  var productSuggestionsUrl = Url.Action("GetProductSuggestions", "Sales");
  var addSaleUrl = Url.Action("AddSale", "Sales");
  var updatedDataUrl = Url.Action("GetUpdatedData", "Sales");
  var baseUrl = Url.Action("Index", "Sales");
}
<link rel="stylesheet" href="~/css/Suppliers/suppliers.css" />
<link rel="stylesheet" href="~/css/Sales/sales.css">

<input type="text" id="url" data-productSuggestionsUrl="@productSuggestionsUrl" data-addSaleUrl="@addSaleUrl"
  data-updatedDataUrl="@updatedDataUrl" data-base-url="@baseUrl" hidden />
<div class="container-fluid p-0 suppliers">
  <!-- Products Header Start -->
  <div class="content-header">
    <div class="heading">
      <h1 class="header-title roboto">Sales Page</h1>
      <p class="header-subtitle roboto">Manage your Sales.</p>
    </div>
  </div>
  <!-- Products Header End -->
  <div class="bg-offwhite">
    <div class="col-lg-12 p-3">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title roboto">Sales</h4>
          @* <a href="/sales/form" class="add-btn">Add</a> *@
          <!-- Button trigger modal -->
          @* <div>
          <select name="warehouses" id="warehouses" class="form-select">
          <option value="0">All Warehouses</option>
          @foreach (var warehouse in ViewBag.WareHouses)
          {
          <option value="@warehouse.Id">@warehouse.Name</option>
          }
          </select>
          </div> *@
          <div>
            @* <a href="@Url.Action("DownloadPdf", "Report")" class="btn add-btn icon">Generate Report <i *@
            @* class="fa-solid fa-print print-icon"></i></a> *@
            <button type="button" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#addModal">
              Add
            </button>
          </div>

        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="salesTable" class="table table-bordered verticle-middle table-responsive-sm">
              <thead>
                <tr>
                  <th scope="col">Product Name</th>
                  <th scope="col">Warehouse Name</th>
                  <th scope="col">Items Sold</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Date</th>
                  <th class="btn-head" scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                @foreach (var sales in Model)
                {
                  <tr>
                    <td>@sales.ProductName</td>
                    <td>@sales.WareHouseName</td>
                    <td>@sales.ItemsSold</td>
                    <td>@sales.TotalPrice</td>
                    <td>@sales.SaleDate.ToString("MM/dd/yyyy hh:mm tt")</td>
                    <td class="btn-td delete text-center">
                      <a class="sales-id-delete-button" data-id="@sales.Id"><i class="fa fa-close color-danger"></i></a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>

          </div>
          <div class="row align-content-center">
            @{
              var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
              var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end align-items-center" id="navigation-btns">
                <li><span class="mx-3" id="page-item-count">@(Model.PageIndex == Model.PageNumbers ? Model.TotalItems :
                    Model.PageIndex > 1 ? Model.ItemsCountPerPage * Model.PageIndex : Model.ItemsCountPerPage) out of
                    @(Model.TotalItems)</span></li>
                <li class="page-item @prevDisabled" id="previous-button"><a class="page-link"
                    asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a></li>
                @for (int i = 1; i <= Model.PageNumbers; i++)
                {
                  <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-route-pageNumber="@(i)" id="@(i == Model.PageIndex ? "active": i)">@i</a>
                  </li>
                }
                <li class="page-item @nextDisabled" id="next-button"><a class="page-link"
                    asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Modal Start-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new sale</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="warehouseNames" class="form-label">Warehouses</label>
          <select class="form-select" name="warehouseNames" id="warehouseNames" required>
            <option value="default" selected disabled>Select a Warehouse </option>
            @foreach (var warehouse in ViewBag.WareHouses)
            {
              <option value="@warehouse.Id">@warehouse.Name</option>
            }
          </select>
        </div>
        <div class="mb-3">
          <label for="productName" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="productName" autocomplete="off" required />
          <span id="product-error"
            style="color: red;display: none; font-weight:bolder; margin-left:0.3rem;font-size:small;">Enter a valid
            Product !</span>
          <div id="productSuggestions" class="dropdown-menu"></div> <!-- For showing suggestions -->
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label" required>Quantity</label>
          <input type="number" class="form-control" min="1" id="quantity" placeholder="Enter quantity" />
          <span id="quantity-error"
            style="color: red;display: none; font-weight:bolder; margin-left:0.3rem;font-size:small;">Quantity must be
            greater than 0 or lower than or equal to Stock !</span>
        </div>
        <div>
          <label for="stock" class="form-label" required>Stock</label>
          <input type="number" class="form-control" id="stock" readonly />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="text" class="form-control" id="price" readonly />
        </div>
        <div class="mb-3">
          <label for="totalPrice" class="form-label">Total Price</label>
          <input type="text" class="form-control" id="totalPrice" readonly />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn close-btn" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn add-btn" id="add-button">Add</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal End-->

@* Delete-Record-Start *@
<div class="mainconfirm">
  <i class="fa-solid fa-xmark close" id="close-delete-btn"></i>
  <i class="fa-regular fa-circle-xmark red"></i>
  <i class="fa-regular fa-circle-check green"></i>
  <h2>Are you sure?</h2>
  <p>Do you really want to delete this record?</p>
  <h3 id="toBeDeleted"></h3>
  <div class="buttons">
    <button class="close2">Close</button>
    <button class="delete" id="confirm-delete">Delete</button>
  </div>
</div>
@* Delete-Record-End *@

@section Scripts {
  <script src="~/js/Sales/filteration.js" asp-append-version="true"></script>
}
